<ul class="list-group">
  <li class="list-group-item active">Modules</li>
  <li
    [ngClass]="{'list-group-item-success': module._id === moduleId}"
    *ngFor="let module of modules" class="list-group-item">
    <a [hidden]="module.editing" routerLink="/courses/{{courseId}}/modules/{{module._id}}/lessons">
      {{module.title}}
    </a>
    <input [hidden]="!module.editing" [(ngModel)]="module.title"/>
    <button class="float-right" [hidden]="module.editing" (click)="deleteModule(module)">Delete</button>
    <button class="float-right" [hidden]="module.editing" (click)="editModule(module)">Edit</button>
    <button class="float-right" [hidden]="!module.editing" (click)="saveModule(module)">Save</button>
  </li>
  <li class="list-group-item">
    <button (click)="createModuleForCourse()">Create</button>
  </li>
</ul>
